USE [master]
GO
/****** Object:  Database [StudentStreamingDB]    Script Date: 09/11/2020 02:20:51 ******/
CREATE DATABASE [StudentStreamingDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StudentStreamingDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\StudentStreamingDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StudentStreamingDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\StudentStreamingDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentStreamingDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentStreamingDB]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 09/11/2020 02:20:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](200) NULL,
	[Password] [varchar](200) NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 09/11/2020 02:20:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[CourseNo] [varchar](100) NULL,
	[CourseName] [varchar](100) NULL,
	[Programme] [varchar](100) NULL,
	[Campus] [varchar](100) NULL,
	[Credits] [varchar](100) NULL,
	[Streams] [varchar](100) NULL,
	[ClassType] [varchar](100) NULL,
	[ThemeColor] [varchar](100) NULL,
	[BeginsAt] [datetime] NULL,
	[EndsAt] [datetime] NULL,
	[CourseType] [varchar](100) NULL,
	[RoomId] [int] NULL,
	[RoomName] [varchar](100) NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 09/11/2020 02:20:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Capacity] [int] NULL,
 CONSTRAINT [PK_Rooms] PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 09/11/2020 02:20:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](200) NULL,
	[APNo] [int] NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentCourseSelection]    Script Date: 09/11/2020 02:20:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentCourseSelection](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[CourseName] [nvarchar](1000) NOT NULL,
 CONSTRAINT [PK_StudentCourseSelection] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeTable]    Script Date: 09/11/2020 02:20:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [nvarchar](1000) NULL,
	[Credits] [nvarchar](1000) NULL,
	[ClassType] [nvarchar](1000) NULL,
	[CourseType] [nvarchar](1000) NULL,
	[BeginsAt] [datetime] NULL,
	[EndsAt] [datetime] NULL,
	[ThemeColor] [nvarchar](1000) NULL,
	[StudentId] [int] NULL,
	[RoomName] [nvarchar](1000) NULL,
	[Campus] [nvarchar](1000) NULL,
 CONSTRAINT [PK_TimeTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tutor]    Script Date: 09/11/2020 02:20:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tutor](
	[TutorID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Email] [varchar](100) NULL,
 CONSTRAINT [PK_Tutor] PRIMARY KEY CLUSTERED 
(
	[TutorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([AdminID], [Email], [Password]) VALUES (1, N'shabahat@gmail.com', N'123456')
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[Course] ON 

INSERT [dbo].[Course] ([CourseID], [CourseNo], [CourseName], [Programme], [Campus], [Credits], [Streams], [ClassType], [ThemeColor], [BeginsAt], [EndsAt], [CourseType], [RoomId], [RoomName]) VALUES (1, N'Sp', N'PF', N'PF', N'North', N'12', N'1', N'Lab', N'orange', CAST(N'2020-10-29T11:04:54.000' AS DateTime), CAST(N'2020-10-29T00:00:00.000' AS DateTime), N'Optional', NULL, N'1')
INSERT [dbo].[Course] ([CourseID], [CourseNo], [CourseName], [Programme], [Campus], [Credits], [Streams], [ClassType], [ThemeColor], [BeginsAt], [EndsAt], [CourseType], [RoomId], [RoomName]) VALUES (2, N'IT1100', N'it1100ItEssential', N'BSCS', N'Main', N'10', N'1', N'Lecture', N'green', CAST(N'2020-10-29T11:04:54.000' AS DateTime), CAST(N'2020-10-30T12:00:00.000' AS DateTime), N'Compulsory', NULL, N'1')
INSERT [dbo].[Course] ([CourseID], [CourseNo], [CourseName], [Programme], [Campus], [Credits], [Streams], [ClassType], [ThemeColor], [BeginsAt], [EndsAt], [CourseType], [RoomId], [RoomName]) VALUES (3, N'IT1101', N'IT Web Essential', N'BSCS', N'Main', N'10', N'1', N'Lecture', N'orange', CAST(N'2020-10-29T12:04:54.000' AS DateTime), CAST(N'2020-10-30T12:00:00.000' AS DateTime), N'Optional', NULL, N'1')
SET IDENTITY_INSERT [dbo].[Course] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([RoomID], [Name], [Capacity]) VALUES (1, N'1', 16)
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([StudentID], [Email], [APNo]) VALUES (1, N'shabahatalichishti@gmail.com', 1)
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
SET IDENTITY_INSERT [dbo].[StudentCourseSelection] ON 

INSERT [dbo].[StudentCourseSelection] ([Id], [StudentId], [CourseName]) VALUES (10, 8, N'C++')
INSERT [dbo].[StudentCourseSelection] ([Id], [StudentId], [CourseName]) VALUES (11, 8, N'C#')
INSERT [dbo].[StudentCourseSelection] ([Id], [StudentId], [CourseName]) VALUES (12, 7, N'C#')
GO
SET IDENTITY_INSERT [dbo].[StudentCourseSelection] OFF
GO
SET IDENTITY_INSERT [dbo].[TimeTable] ON 

INSERT [dbo].[TimeTable] ([ID], [CourseName], [Credits], [ClassType], [CourseType], [BeginsAt], [EndsAt], [ThemeColor], [StudentId], [RoomName], [Campus]) VALUES (1, N'CS7502 Special Topic in Cyber Security', N'15', N'Lab', N'Compulsory', CAST(N'2020-10-10T14:10:00.000' AS DateTime), CAST(N'2020-10-10T14:30:00.000' AS DateTime), NULL, 1, N'B130', N'Petone')
SET IDENTITY_INSERT [dbo].[TimeTable] OFF
GO
SET IDENTITY_INSERT [dbo].[Tutor] ON 

INSERT [dbo].[Tutor] ([TutorID], [Name], [Email]) VALUES (1, N'Aristotle Santos', N'Santos@gmail.com')
INSERT [dbo].[Tutor] ([TutorID], [Name], [Email]) VALUES (2, N'Clement Sudhakar', N'Sudhakar@gmail.com')
INSERT [dbo].[Tutor] ([TutorID], [Name], [Email]) VALUES (3, N'Diana Eyes', N'Eyes@gmail.com')
SET IDENTITY_INSERT [dbo].[Tutor] OFF
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_Rooms] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([RoomID])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_Rooms]
GO
ALTER TABLE [dbo].[TimeTable]  WITH CHECK ADD  CONSTRAINT [FK_TimeTable_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[TimeTable] CHECK CONSTRAINT [FK_TimeTable_Student]
GO
/****** Object:  StoredProcedure [dbo].[get_SelectedCourse]    Script Date: 09/11/2020 02:20:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[get_SelectedCourse]
@CourseId int
AS
BEGIN
SELECT CourseID,CourseName FROM Course where CourseID=@CourseId;
END

GO
USE [master]
GO
